.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    column-gap: 20px;
    row-gap: 20px;
    min-height: 330px;
}

@media (max-width: 800px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
